@using Sandbox;
@using Sandbox.UI;
@using Eryziac.CandyFactory;
@inherits PanelComponent

<root>
	@if(LocalPlayer != null && LocalPlayer.CurrentTask != null)
    {
        <div class="header">
            <div class="title">@LocalPlayer.CurrentTask.Name :</div>
            <div class="description">@LocalPlayer.CurrentTask?.Description</div>
        </div>
        <div class="progress">
            @if(LocalPlayer.CurrentTask?.Needed != null)
            {
                @if(LocalPlayer.CurrentTask?.Needed?.Money > 0)
                {
                    <span class="category">Earned:  @("$ " + LocalPlayer.CurrentTask?.Needed?.CurrentMoney.ToString("N0").Replace(",", " ")) / @("$ " + LocalPlayer.CurrentTask.Needed.Money.ToString("N0").Replace(",", " "))</span>
                }
                @if(LocalPlayer.CurrentTask?.Needed?.CandyCreated != null)
                {
                    <span class="category">@LocalPlayer.CurrentTask?.Needed?.CandyCreated?.Name : @LocalPlayer.CurrentTask?.Needed?.CandyCreated?.Current / @LocalPlayer.CurrentTask?.Needed?.CandyCreated?.Quantity</span>
                }
                @if(LocalPlayer.CurrentTask?.Needed?.CandySold != null)
                {
                    <span class="category">@LocalPlayer.CurrentTask?.Needed?.CandySold?.Name : @LocalPlayer.CurrentTask?.Needed?.CandySold?.Current / @LocalPlayer.CurrentTask?.Needed?.CandySold?.Quantity</span>
                }
            }
        </div>
    }
</root>

@code
{
	public Player LocalPlayer;

	protected override void OnStart()
	{
		LocalPlayer = Scene.GetAllComponents<Player>().FirstOrDefault(x => !x.IsProxy);
	}

	protected override void OnUpdate()
	{
		if (LocalPlayer == null)
		{
			LocalPlayer = Scene.GetAllComponents<Player>().FirstOrDefault(x => !x.IsProxy);
			StateHasChanged();
		}
	}

}
